*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Kanit;
    /* cursor: none; */
}

html,body{
    height: 100%;
    width: 100;
    background-color: rgb(152, 195, 210);
}
#cursor{
    height: 20px;
    width: 20px;
    /* background-color: rgb(255, 255, 255); */
    /* border-radius: 50%; */
    position: fixed;
    z-index: 99;
}
#cursor img{
    height: 20px;
    width: 20px;
}
#cursor-blur{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    position: fixed;
    filter:blur(100px);
    z-index: 9;
}
#page1{
    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
}

#page2{
    height: 100%;
    width: 100%;
    /* background-color: rgb(254, 223, 183); */
}

#page2 video{
    height:100%;
    width: 10%;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}



#nav{
    height: 9%;
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav h2{
    margin-left: 20px;
    font-size: 2vw;
    font-weight: 600;
}

.button-86 {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-86::after,
  .button-86::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -99999;
    transition: all .4s;
  }
  
  .button-86::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #28282d;
    border-radius: 10px;
  }
  
  .button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ffffff15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .button-86:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }
  
  
  #right{
      height: 100%;
      width:50%;
      /* background-color: rgb(0, 255, 8); */
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  .navlinks:hover{
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
}

#page1content{
    
    height: 100%;
    width: 60%;
    position: relative;
    top:10%;
    left: 2%;
    /* transform: translate(-50%,-50%); */
    /* background-color: red; */
    font-size: 3.5vw;
    display: flex;

}

#mp1{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    display: flex;
}

#mp1 img{
    height: 600px;
    width: 400px;
    object-fit: cover;
    margin-left: 60%;
    border-radius: 10px;
}

#textmp1{
  height: 100%;
  width: 35%;
  /* background-color: #fff; */
  padding: 5%;
  color: white;
  line-height: 40px;
}

#page3{
  height: 100%;
  width: 100%;
  /* background-color: rgb(255, 197, 122); */
  /* overflow-x: hidden; */
}


#page3-h1{
  margin: 50px;
  font-size: 4vw;
  /* background-image: url(https://images.unsplash.com/photo-1463438690606-f6778b8c1d10?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
  background-size: cover;
  background-position: center;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent; */
}
#content{
  height: 100%;
  width: 100%;
  display: flex;
}

    
#left-pg3{
  height: 100%;
  width: 50%;
  /* background-color: green; */
}

#right-pg3{
  height: 100%;
  width: 50%;
  /* background-color: blue; */
}

#arrow-div{
  margin-top: 5%;
  margin-left: 40%;
  height: 150px;
  width: 150px;
  background-color: rgb(102, 102, 102);
  border-radius: 50%;
  font-size: 150px;
  font-weight: 100;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#arrow-div:hover{
  scale: 1.1;
  transition: all ease 0.2s;
}

#card-left{
  margin-left: 23%;
  margin-top: 10%;
  height: 80%;
  width: 45%;
  /* background-color: blue; */
  border-radius: 15px;
  overflow: hidden;
  transition: all ease 0.6s;
}

#card-left{
  background-image: url(https://images.unsplash.com/photo-1717328357605-9c1c27c6c906?q=80&w=986&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);  
  background-position: center ;
}

#overlay-left{
  height: 100%;
  width: 100%;
  /* background-color: rgb(70, 196, 147); */
  padding: 50px;
  padding-top: 60px;
  opacity: 0;
  transition: all ease 0.6s;
}

#overlay-left h4{
font-size: 35px;
color: white;

}
#overlay-left p{
  font-size: 25px;
  color: white;
  margin-top: 30px;
}




#card-left:hover #overlay-left{
  opacity: 1;
}
/* -------------------------------- */

#card-right{
  margin-left: 23%;
  margin-top: 10%;
  height: 60%;
  width: 35%;
  background-color: blue;
  border-radius: 15px;
  overflow: hidden;
  transition: all ease 0.6s;
}

#card-right{
  background-image: url(https://images.unsplash.com/photo-1717661586324-100581bb828c?q=80&w=998&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);  
  background-position: center ;
}

#overlay-right{
  height: 100%;
  width: 100%;
  /* background-color: rgb(70, 196, 147); */
  padding: 50px;
  padding-top: 60px;
  opacity: 0;
  transition: all ease 0.6s;
}
#overlay-right p{
  font-size: 20px;
  color: white;
  margin-top: 30px;
}




#card-right:hover #overlay-right{
  opacity: 1;
}



#card-right:hover #card-right{
  opacity: 0.7;
}

